@import '../App.scss';


.form-label {
  font-size: smaller;
  font-weight: bolder;
}

.form-control, .btn {
  border-radius: 10px !important;
}

.form-control {
  border-color: $color-secondary !important;
}

.btn {
 background-color: $color-secondary;
 border: none;

 :hover{
   background-color: $color-primary;
 }
}