$color-primary : #0bab91ff;
$color-secondary : #76cbb7ff;
$color-dark : #1a1a1aff;
$color-research : #f1c32fff;
$color-research-bg : #ffdd6f55;
$color-backend : #f0469fff;
$color-backend-bg : #f0469f44;
$color-design : #428dd9ff;
$color-design-bg : #428dd944;
$color-tag : #def9f3ff;